<div class="teamForms">
  <div id="team-list" class="row">
      <div class="col-sm-6 pull-left">


          <div class="panel panel-default">
              <div class="panel-heading">Teams
                  <button class="btn btn-primary btn-xs pull-right" ng-click="teamFormCtrl.setTeamForm('add')">Add Team <span class="glyphicon glyphicon-plus" style="font-size:10px;" aria-hidden="true"></span></button>
              </div>
              <div class="panel-body" ng-show="teams.length == 0">
                  <p>No teams added yet! <a href ng-click="teamFormCtrl.setTeamForm('add')">Add a team now</a></p>
              </div>
              <ul class="list-group">
                <!-- LOOP OVER THE team IN $scope.teams -->
                <li class="list-group-item" ng-repeat="team in teams">
                        {{ team.name }}
                        <button class="btn btn-danger btn-xs pull-right" ng-click="deleteTeam(team._id)"><span class="glyphicon glyphicon-remove" style="font-size:10px;" aria-hidden="true"></span></button>
                        <a class="btn btn-success btn-xs pull-right" ng-click="getTeam(team._id); teamFormCtrl.setTeamForm('edit')" style="margin-right:5px;"><span class="glyphicon glyphicon-edit" style="font-size:10px;" aria-hidden="true"></span></a>
                </li>
             </ul>
          </div>

      </div>

  <!--Conditionally displayed-->
  <team-add-form></team-add-form>
  <!--Conditionally displayed-->
  <team-edit-form></team-edit-form>

</div>
