<!-- index.html -->
<!doctype html>

<!-- ASSIGN OUR ANGULAR MODULE -->
<html ng-app="teamApp">
  <head>
<!-- META -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
<!-- Optimize mobile viewport -->

    <title>Team Builder</title>
    <link href="https://ajax.googleapis.com/ajax/libs/angular_material/0.9.4/angular-material.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
    <link href="css/style.css" rel="stylesheet">
<!-- load bootstrap -->
    <meta content="initial-scale=1" name="viewport"/>
  </head>
<!-- SET THE CONTROLLER AND GET ALL TODOS -->
  <body layout-fill layout-margin layout-padding layout="column" ng-controller="TeamController as teamCtrl">
    <md-toolbar layout="row">
      <div class="md-toolbar-tools">
        <md-button class="md-icon-button" ng-click="toggleSidenav('left')">
          <md-icon aria-label="Menu" md-svg-icon="https://s3-us-west-2.amazonaws.com/s.cdpn.io/68133/menu.svg"></md-icon>
        </md-button>
        <h2>Team Builder</h2>
      </div>
    </md-toolbar>
    <div layout="row">
      <md-sidenav class="md-sidenav-left md-whiteframe-z2" layout="column" md-component-id="left">
        <md-toolbar layout="row">
          <div class="md-toolbar-tools">
            <h2>Navigation</h2>
          </div>
        </md-toolbar>
        <md-list>
          <md-list-item>
            <md-button class="align-left">Home</md-button>
          </md-list-item>
          <md-divider></md-divider>
          <md-list-item>
            <md-button class="align-left">Rotation</md-button>
          </md-list-item>
          <md-divider></md-divider>
          <md-list-item>
            <md-button class="align-left">Teams</md-button>
          </md-list-item>
          <md-divider></md-divider>
        </md-list>
      </md-sidenav>

        <md-content class="md-padding" flex layout="column">
                <h2 class="md-title">Teams</h2>
                <md-divider></md-divider>
<!-- LOOP OVER THE team IN $scope.teams -->
                <md-list>
                <md-list-item layout="row" ng-repeat="team in teams">
                  <p>{{ team.name }}</p>
                            <md-button class="md-button md-primary" ng-click="getTeam(team._id); teamCtrl.showEditTeam($event)">
                                Edit
                            </md-button>

                            <md-button class="md-button md-warn" ng-click="deleteTeam(team._id)">
                                 Delete
                            </md-button>

                </md-list-item>
              </md-list>

        </md-content>
      </div>
      <md-button aria-label="Add Team" class="md-fab" ng-click="teamCtrl.showAddTeam($event)" style="position:absolute; right:0; bottom:0">
        <span style="font-size:3.2em; line-height:1.2em">+</span>
      </md-button>

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.10.1/angular-material.min.js"></script>
    <script src="js/team.js"></script>
  </body>
</html>
