<md-bottom-sheet>
  <md-toolbar layout="row">
    <div class="md-toolbar-tools">
      <h2>Add Rotation</h2>
    </div>
  </md-toolbar>
  <form name="add-team" novalidate>
    <md-content layout-padding layout-sm="column" layout="row">
      <md-input-container>
        <label>Technician Name</label>
        <input id="supportName" ng-model="rotationData.support_agent" required type="text">
      </md-input-container>
    </md-content>

    <md-content layout-padding layout-sm="column" layout="row">
      <md-input-container>
        <label>Start Date</label>
        <input id="startDate" ng-model="rotationData.start_date" required type="date">
      </md-input-container>
      <md-input-container>
        <label>End Date</label>
        <input id="startDate" ng-model="rotationData.end_date" required type="date">
      </md-input-container>
    </md-content>

    <md-content layout-padding layout-sm="column" layout="row">
      <md-button class="md-raised md-primary" ng-click="createRotation()" ng-hide="rotationData.support_agent.length < 1" style="margin-left:5px;" type="submit">Add Rotation</button>
    </md-content>

  </form>
</md-bottom-sheet>
