<md-bottom-sheet>
  <md-toolbar layout="row">
    <div class="md-toolbar-tools">
      <h2>Edit Rotation</h2>
    </div>
  </md-toolbar>
  <form name="edit-rotation" novalidate>
    <form name="edit-team" novalidate>

      <md-content layout-padding layout="row">
        <md-input-container flex>
          <label>Technician Name</label>
          <input id="supportName" ng-model="singleRotation[0].support_agent" required type="text">
        </md-input-container>

        <md-input-container flex>
          <label>Status</label>
          <md-select ng-model="singleRotation[0].status" required>
            <md-option value="Not Started">Not Started</md-option>
            <md-option value="Active">Active</md-option>
            <md-option value="Completed">Completed</md-option>
          </md-select>
        </md-input-container>
      </md-content>
      <md-content layout-padding layout="row">
        <md-input-container flex>
          <label>Start Date</label>
          <input type="date" class="form-control" id="startDate" ng-model="start_date" placeholder="Start Date" placeholder="Start Date" required >
        </md-input-container>
        <md-input-container flex>
          <label>End Date</label>
          <input type="date" class="form-control" id="endDate" ng-model="end_date" placeholder="End Date" placeholder="End Date" required>
        </md-input-container>
      </md-content>

      <md-tabs md-border-bottom md-dynamic-height>
        <md-tab label="{{team.name}}" ng-repeat="team in teamData">
          <md-content class="md-padding">
            <md-input-container >
              <label>{{team.name}}
                Needs</label>
              <textarea columns="1" md-maxlength="150" md-no-autogrow="false" ng-model="singleRotation[0].day_schedule[$index].need" row="1" style="font-size:.8em"></textarea>
            </md-input-container>
          </md-content>
        </md-tab>
      </md-tabs>
      <md-content>
        <md-button class="md-raised md-primary" ng-click="updateRotation(singleRotation[0]._id)">Save</button>
      </md-content </form>
    </md-bottom-sheet>
